* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
}
.App {
  text-align: center;
  width: 100%;
}
.header {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.header-title {
  color: #262626;
  font-size: 23pt;
  font-weight: 500;
}
.city-container {
  margin-bottom: 2rem;
}
.datacard {
  background-color: #ffffff;
  margin: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.3rem;
}
.datacard-city {
  color: #262626;
  font-size: 19pt;
  font-weight: 500;
}
.datacard-description {
  color: #70757a;
  font-size: 13pt;
}
.datacard-temperature {
  color: #262626;
  font-size: 26pt;
}
.datacard-additional {
  color: #70757a;
  font-size: 13pt;
}
.forecast-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem;
}
.forecast-flex :last-child {
  margin-right: 0rem;
}
.forecast-card {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  width: 17.5%;
}
.forecast-time {
  color: #70757a;
  font-size: 13pt;
  margin-top: 1rem;
}

.forecast-temperature {
  color: #262626;
  font-size: 15pt;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.forecast-additional {
  background-color: #e5f6fd;
  border-top: 1px solid #e6e6e6;
  padding: 0.1rem;
}
.forecast-additional p {
  background-color: #e5f6fd;
  color: #70757a;
  font-size: 10pt;
}
.forecast-additional :first-child {
  margin-top: 0.5rem;
}
.forecast-additional :last-child {
  margin-bottom: 0.5rem;
}
p {
  margin: 0.1rem;
}
